@import url('https://fonts.googleapis.com/css?family=Berkshire Swash');

body {
    background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
}

header h1 {
    padding-top: 50px;
    padding-top: -webkit-calc(50vh - 113px);
    padding-top: expression(50vh - 113px);
    padding-top: -moz-calc(50vh - 113px);
    padding-top: -o-calc(50vh - 113px);
    padding-top: calc(50vh - 113px);
    font-size: 7em;
    font-weight: 100;
    font-family: 'Berkshire Swash', serif;
}