.profile-card .hint {
    margin-top: -15px;
    text-align: center;
}

.container-profile-card {
    position: relative;
    margin: 20px auto;
    height: 250px;
    max-width: 500px;
    overflow: hidden;
}

.container-profile-card .card {
    position: relative;
    height: 250px;
}

.card:hover .hidden-card {
    display: block;
    top: 0;
    left: 0;
    background: rgba(0, 255, 191, 0.877);
    color: rgba(0, 0, 0, 0.877);
    transform: translate(0, 0);
}

.card-left-info img {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    height: 100%;
    width: auto;
    float: left;
    transition: all 0.8s;
}

.card-left-info .hidden-card {
    position: absolute;
    top: 0%;
    left: 50%;
    left: 42%;
    height: 89%;
    padding: 3% 4%;
    background: rgba(0, 255, 191, 0.877);
    color: rgba(0, 0, 0, 0.877);
    transition: all 0.5s ease-in-out;
}

.hidden-card .name {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
}

.hidden-card .title {
    margin: 0;
    margin-right: 10px;
    padding: 0 0 13px 0;
    width: 90%;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.hidden-card hr {
    margin-left: -20px;
    color: rgba(255, 255, 255, 0.8);
}

.hidden-card .description {
    padding-top: 13px;
    font-size: 11px;
    line-height: 20px;
}

.card-right-info {
    position: absolute;
    left: 50%;
    width: 50%;
    height: inherit;
    padding: 20px 20px 20px 30px;
    background: rgb(238, 238, 238);
    color: #000000;
}

.card-right-info .name {
    font-size: 20px;
    font-weight: 700;
    margin: 20px auto;
    padding-left: 10px;
}

.card-right-info table {
    font-size: 14px;
    line-height: 30px;
}

.card-right-info table img {
    height: 20px;
}