@import url('https://fonts.googleapis.com/css?family=Berkshire Swash');
@import url('https://fonts.googleapis.com/css?family=Aref Ruqaa');
@import url(about-me.css);
@import url(sports.css);

/* start header styling */

.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    margin: 0 20px;
    font-family: 'Berkshire Swash', serif;
    font-size: 16px
}

.header-wrapper .site-logo {
    padding-right: 20px;
}

.header-wrapper .course-title {
    margin-top: 6px;
    font-size: 2em;
    font-weight: bold;
}

nav {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    flex: 1px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border:  0;
    font-size: 50%;
    vertical-align: baseline;
}

nav li {
    float: right;
}

nav li a {
    position: relative;
    padding: 14px 20px;
    background: rgba(0, 255, 191, 0.877);
    border-top: 2px solid rgba(5, 238, 180, 0.877);
    border-right: 2px solid rgba(5, 238, 180, 0.877);
    border-bottom: 5px solid rgba(5, 238, 180, 0.877);
    border-radius: 20px;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 3px 3px 3px #ababab;
    transition: all 0.2s ease;
}

nav li a:hover {
    border-top: 0;
    border-bottom: 10px solid rgba(5, 238, 180, 0.877);
    color: black;
    top: -5px;
}

nav li a:active {
    border-bottom: 0px solid rgba(5, 238, 180, 0.877);
    color: black;
    top: 5px;
}

/* end header styling */

/* start main styling */

main {
    margin: auto 5.5%;
    font-family: 'Aref Ruqaa', serif;
    font-size: 16px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0em;
}

h3 {
    text-align: center;
}

.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

/* about.html */
.container-flex .hobbies ul {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.container-flex .bio-index h3 p{
    flex-basis: 40%;
}
/* about.html */

.biography-paragraph {
    text-indent: 50px;
    line-height: 180%;
}

/* end main styling */

/* footer styling */
footer {
    margin-top: 20px;
    text-align: center;
    font-family: 'Berkshire Swash', serif;
    font-size: 13px;
}